<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Connexion</servlet-name>
        <servlet-class>projet.Servlet.Connexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deconnexion</servlet-name>
        <servlet-class>projet.Servlet.Deconnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profil</servlet-name>
        <servlet-class>projet.Servlet.Profil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inscription</servlet-name>
        <servlet-class>projet.Servlet.Inscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Recherche</servlet-name>
        <servlet-class>projet.Servlet.Recherche</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Document</servlet-name>
        <servlet-class>projet.Servlet.Document</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMessage</servlet-name>
        <servlet-class>projet.Servlet.ServletMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Accueil</servlet-name>
        <servlet-class>projet.Servlet.Accueil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonProfil</servlet-name>
        <servlet-class>projet.Servlet.MonProfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GererDemandeAmis</servlet-name>
        <servlet-class>projet.Servlet.GererDemandeAmis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreerDocument</servlet-name>
        <servlet-class>projet.Servlet.CreerDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DemandeAmis</servlet-name>
        <servlet-class>projet.Servlet.DemandeAmis</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Connexion</servlet-name>
        <url-pattern>/Connexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deconnexion</servlet-name>
        <url-pattern>/Deconnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profil</servlet-name>
        <url-pattern>/profil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inscription</servlet-name>
        <url-pattern>/Inscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Recherche</servlet-name>
        <url-pattern>/recherche</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Document</servlet-name>
        <url-pattern>/document</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMessage</servlet-name>
        <url-pattern>/ServletMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Accueil</servlet-name>
        <url-pattern>/accueil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonProfil</servlet-name>
        <url-pattern>/monProfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GererDemandeAmis</servlet-name>
        <url-pattern>/gerer-demande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreerDocument</servlet-name>
        <url-pattern>/creer-document</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DemandeAmis</servlet-name>
        <url-pattern>/demande-amis</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>accueil.jsp</welcome-file>
    </welcome-file-list>
</web-app>
